<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/products/add" enctype="multipart/form-data" method="post">
    <label>Categorie</label>
    <input id="categorie" type="text" name="categorie" required>
    <label>Etat</label>
    <input id="etat" type="text" name="etat" required>
    <label>Price</label>
    <input id="price" type="number" name="price" required>
    <input type="file" name="multi_files" accept='image/*' multiple required>
    <input type="submit" value="Save">
</form>
</body>
</html>