
:root {
    --dark-color-a: #667aff;
    --dark-color-b: #7386ff;
    --light-color: #e6e9ff;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

.btn {
    cursor: pointer;
    padding: 5px 15px;
    background: var(--light-color);
    color: var(--dark-color-a);
    border: 0;
    font-size: 17px;
    border: 1px solid #667aff;
}

/* Chat Page */

.chatContainer {
    background: var(--light-color);
    max-width: 90%;
    background: #fff;
    margin: 30px auto;
    overflow: hidden;
}

.chatHeader {
    background: var(--dark-color-a);
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatMain {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.chatSidebar {
    background: var(--dark-color-b);
    color: #fff;
    padding: 20px 20px 60px;
    overflow-y: scroll;
}

.chatSidebar h2 {
    font-size: 20px;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 20px;
}

.chatSidebar h3 {
    margin-bottom: 15px;
}

.chatSidebar ul li {
    padding: 10px 0;
}

.chatMessages {
    padding: 30px;
    max-height: 500px;
    overflow-y: scroll;
    min-height: 500px;
}

.chatMessages .message {
    padding: 10px;
    margin-bottom: 15px;
    background-color: var(--light-color);
    border-radius: 5px;
    overflow-wrap: break-word;
}

.chatMessages .message .meta {
    font-size: 15px;
    font-weight: bold;
    color: var(--dark-color-b);
    opacity: 0.7;
    margin-bottom: 7px;
}

.chatMessages .message .meta span {
    color: #777;
}

.chatFormContainer {
    padding: 20px 30px;
    background-color: var(--dark-color-a);
}

.chatFormContainer form {
    display: flex;
}

.chatFormContainer input[type='text'] {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    flex: 1;
}

/* Join Page */
.joinContainer {
    max-width: 500px;
    margin: 80px auto;
    color: #fff;
}

.joinHeader {
    text-align: center;
    padding: 20px;
    background: var(--dark-color-a);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.joinMain {
    padding: 30px 40px;
    background: var(--dark-color-b);
}

.joinMain p {
    margin-bottom: 20px;
}

.joinMain .form-control {
    margin-bottom: 20px;
}

.joinMain label {
    display: block;
    margin-bottom: 5px;
}

.joinMain input[type='text'] {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    width: 100%;
}

.joinMain select {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    width: 100%;
}

.joinMain .btn {
    margin-top: 20px;
    width: 100%;
}

@media (max-width: 700px) {
    .chatMain {
        display: block;
    }

    .chat-sidebar {
        display: none;
    }
}